{% extends 'base.html' %}

{% block title %}
  Home page 
{% endblock title %}  

{% block content %}

{% if user.is_authenticated %}
  {% if object_list %}
    {% for note in object_list %}
        <ul>
          <li><h5><a href="{% url 'note_detail' note.pk %}">{{ note.title }}</a></h5></li>
        </ul>
    {% endfor %}
  {% else %}
      You do not have any notes, create one <strong><a href="{% url 'create_todo_list' %}">here</a></strong>
  {% endif %}    

{% else %}
    <a href="{% url 'login' %}">Login</a>

{% endif %}    


{% endblock content %}